<!DOCTYPE html>
<html>
<body>
    <h2>Enter new information:</h2>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Customer:</td> <!-- little confused at how customers/users integrate, but because it's a Foreign key I have it select from existing -->
                <td><select id="customer" name="customer" style="color:black">
                    {% for i in customers %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><select id="address" name="address" style="color:black">
                    {% for i in addresses %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>User Type:</td>
                <td><select id="userType" name="userType" style="color:black">
                    {% for i in userTypes %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" id="fname" name="fname" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" id="lname" name="lanme" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Telephone Number:</td>
                <td><input type="text" id="phoneNumber" name="phoneNumber" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" id="email" name="email" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" id="username" name="username" value="" style="color:black"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>