<!DOCTYPE html>
<html>
<body>
    <h2>Enter new information:</h2>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Manufacturer:</td>
                <td><select id="manufacturer" name="manufacturer" style="color:black">
                    {% for i in manufacturers %}
                        <option value="{{i}}">{{}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" id="cItemName" name="cItemName" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Item Catagory:</td>
                <td><select id="catagories" name="catagories" style="color:black">
                    {% for i in catagories %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Cost:</td>
                <td><input type="text" id="cost" name="cost" value="" style="color:black"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>