<!DOCTYPE html>
<html>
<body>
    <h2>Enter new information:</h2>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Address:</td>
                <td><input type="text" id="location" name="location" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" id="city" name="city" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" id="state" name="state" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>ZIP Code:</td>
                <td><input type="text" id="zip" name="zip" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Telephone Number:</td>
                <td><input type="text" id="phoneNumber" name="phoneNumber" value="" style="color:black"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>