<!DOCTYPE html>
<html>
<body>
    <h2>Enter new information:</h2>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" id="catagoryName" name="catagoryName" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" id="catagoryDesc" name="catagoryDesc" value="" style="color:black"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>