<!DOCTYPE html>
<html>
<body>
    <h2>Enter new information:</h2>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>Catalog Item:</td>
                <td><select id="catalogItem" name="catalogItem" style="color:black">
                    {% for i in catalogItems %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Stock:</td>
                <td><input type="text" id="quantity" name="quantity" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Serial Number:</td>
                <td><input type="text" id="serial" name="serial" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Sell Price:</td>
                <td><input type="text" id="sell_price" name="sell_price" value="" style="color:black"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>