<!DOCTYPE html>
<html>
<body>
    <h2>Enter updated information:</h2>
    <form>
        <table>
            <tr>
                <td>Users:</td>
                <td><select id="user" name="user" style="color:black">
                    {% for i in users %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Customer:</td>
                <td><select id="customer" name="customer" style="color:black">
                    {% for i in customers %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><select id="address" name="address" style="color:black">
                    {% for i in addresses %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>User Type:</td>
                <td><select id="userType" name="userType" style="color:black">
                    {% for i in userTypes %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" id="firstName" name="firstName" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" id="lastName" name="lastName" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" id="telephone" name="telephone" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" id="email" name="email" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" id="username" name="username" value="" style="color:black"></td>
            </tr>
        </table>
        <label for="delete">Delete Value:</label>
        <input type="checkbox" value="delete">
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>