<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>{{ css_class | safe  }}</style>
    <title>Omega Inventory System</title>
<body>
<h1>Welcome to the Omega Inventory System</h1>
<div class="view-div">
    <h2><a href="/general_view?view_name=VIEW_CustomersAddress">View Inventory</a></h2>
    <br>
    <table style="border:none;">
        <tr>
            <td style="border:none"></td>
            <td style="border:none"><h3><a href="/general_view?view_name=VIEW_CustomersAddress">View Customer and Addresses</a></h3></td>
            <td style="border:none"><h3><a href="/general_view?view_name=VIEW_ManufacturersCatalogItems">View Manufacturers and their Catalog Items</a></h3></li></td>
            <td style="border:none"></td>
        </tr>
    </table>

</div>
<br><br>
<div class="view-div">
    <h3>Select the table for which you would like to add, update, or delete an entry</h3>
    <form method="post">
        {% for i in tables %}
        <input type="radio" name="table" value="{{i}}">{{i}}</input><br>
        {% endfor %}
        <br>
        <button type="submit" name="action" value="add">ADD</button>
        <button type="submit" name="action" value="update">UPDATE</button>
    </form>
    <!--<h2> Add an item to {{ table_name | safe }}</h2>
    {{ form_element | safe }}-->


</div>
</body>
</html>
