<!DOCTYPE html>
<html>
<body>
    <h2>Enter updated information:</h2>
    <form action="/update_catalogitem" method="POST">
        <table>
            <tr>
                <td>Catalog Item:</td>
                <td><select id="CatalogItem" name="CatalogItem" style="color:black">
                    {% for i in catalogItems %}
                        <option value="{{i['CatalogItemID']}}">{{i['CatalogItemName']}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Manufacturer:</td>
                <td><select id="Manufacturer" name="Manufacturer" style="color:black">
                    {% for i in manufacturers %}
                        <option value="{{i['ManufacturerID']}}">{{i['ManufacturerName']}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Catagory:</td>
                <td><select id="ItemCatagory" name="ItemCatagory" style="color:black">
                    {% for i in catagories %}
                        <option value="{{i['ItemCatagoryID']}}">{{i['ItemCatagoryTitle']}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" id="CatalogItemName" name="CatalogItemName" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Buy Cost:</td>
                <td><input type="text" id="BuyCost" name="BuyCost" value="" style="color:black"></td>
            </tr>
        </table>
        <label for="delete">Delete Value:</label>
        <input type="checkbox" value="delete">
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>