<!DOCTYPE html>
<html>
<body>
    <h2>Enter updated information:</h2>
    <form action="/update_inventoryitem" method="POST">
        <table>
            <tr>
                <td>Inventory Item:</td>
                <td><select id="inventoryItem" name="inventoryItem" style="color:black">
                    {% for i in inventoryItems %}
                        <option value="{{i['InventoryItemID']}}">{{i['ItemSerialNumber']}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Catalog Item:</td>
                <td><select id="catalogItem" name="catalogItem" style="color:black">
                    {% for i in catalogItems %}
                        <option value="{{i['CatalogItemID']}}">{{i['CatalogItemName']}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Stock Quantity:</td>
                <td><input type="text" id="StockQuantity" name="StockQuantity" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Serial Number:</td>
                <td><input type="text" id="ItemSerialNumber" name="ItemSerialNumber" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Sell Price:</td>
                <td><input type="text" id="SellPrice" name="SellPrice" value="" style="color:black"></td>
            </tr>
        </table>
        <label for="delete">Delete Value:</label>
        <input type="checkbox" value="delete">
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>