<!DOCTYPE html>
<html>
<body>
    <h2>Enter updated information:</h2>
    <form>
        <table>
            <tr>
                <td>Customers:</td>
                <td><select id="customer" name="customer" style="color:black">
                    {% for i in customers %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><select id="address" name="address" style="color:black">
                    {% for i in addresses %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td><input type="text" id="companyName" name="companyName" value="" style="color:black"></td>
            </tr>
        </table>
        <label for="delete">Delete Value:</label>
        <input type="checkbox" value="delete">
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>