<!DOCTYPE html>
<html>
<body>
    <h2>Enter updated information:</h2>
    <form>
        <table>
            <tr>
                <td>Line Item:</td>
                <td><select id="lineItem" name="lineItem" style="color:black">
                    {% for i in lineItems %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Invoice:</td>
                <td><select id="invoice" name="invoice" style="color:black">
                    {% for i in invoices %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Inventory Item:</td>
                <td><select id="inventoryItem" name="inventoryItem" style="color:black">
                    {% for i in inventoryItems %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Price Adjustment:</td>
                <td><select id="priceAdjustment" name="priceAdjustment" style="color:black">
                    {% for i in priceAdjustments %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Customer:</td>
                <td><select id="customer" name="customer" style="color:black">
                    {% for i in customers %}
                        <option value="{{i}}">{{i}}</option> <!-- This list should come from the db -->
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Sell Price:</td>
                <td><input type="text" id="sellPrice" name="sellPrice" value="" style="color:black"></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="text" id="quantity" name="quantity" value="" style="color:black"></td>
            </tr>
        </table>
        <label for="delete">Delete Value:</label>
        <input type="checkbox" value="delete">
        <input type="submit" value="Submit" style="color:black">
    </form>
</body>
</html>